
*.ipch
*.vsidx
*.json
*.db
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.sqlite
.vs/Disney_GPS/FileContentIndex/789b4cb5-fbe3-44d4-96ed-917dbf8d7797.vsidx
.vs/Disney_GPS/FileContentIndex/4cfcb9d2-3edf-47f9-a678-1cc161513ce6.vsidx
.vs/Disney_GPS/FileContentIndex/87b0e629-ed25-4145-91aa-eff4b7a2a1b2.vsidx
.vs/Disney_GPS/v17/.suo
.vs/Disney_GPS/v17/Browse.VC.db
